html,body{
  height: 100%;
}
body{
  margin: 0;

}
input{
  border: solid 2px #000;
  width: 80%;
  height: 40px;
  margin-left: 10%;
  text-align: center;
}
.header .left a{
  display: block;
  position: relative;
  left: 5px;
  top: 30px;
  width: 10%;
}
a{
  color: #333;
  text-decoration: none;

}
